.header {
  background-color: #577fd0;
  display: block;
  color: white;
  overflow: auto;
}

.header > i {
  float: left;
  font-size: 30px;
  padding: 5px;
}

.header > span {
  float: right;
  font-size: 25px;
  font-size: 20px;
  padding-right: 10px;
  position: relative;
}

.header > span > i {
  font-size: 25px;
  padding: 10px;
}

.header > span > .dropdown {
  position: absolute;
  display: none;
  background: white;
  color: black;
  left: 40px;
  top: 6px;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px #00000078;
}

.header > span:hover .dropdown,
.header > span:focus .dropdown {
  display: block;
}

.header > span > .dropdown:hover {
  background: #46629a;
  color: white;
}

.body {
  padding: 20px 30px 20px 30px;
}

.body .searchbar {
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.body .searchbar input {
  float: right;
  padding-left: 33px;
  width: 250px;
  height: 35px;
  border: none;
  background: #80808029;
}

body .searchbar i {
  float: right;
  font-size: 20px;
  padding: 8px 5px;
  right: 217px;
  position: absolute;
  color: #6d6c6c;
}

.table > tbody > tr > td > span {
  display: block;
}

.table > tbody > tr > td > .link {
  color: #0070ff;
  cursor: pointer;
  font-weight: 500;
}

.table > thead > tr > th > i {
  cursor: pointer;
  vertical-align: bottom;
}

.pagination-container .row-count {
  float: left;
}

.pagination-container .row-count > label {
  margin-right: 5px;
  font-size: 16px;
  font-weight: 500;
}

.pagination-container .row-count > select {
  width: 50px;
  height: 34px;
  padding-left: 10px;
  font-size: 15px;
  border: none;
  background: #ebebeb;
  border-radius: 5px;
}

.pagination-container .pagination {
  float: right;
  margin: 0;
}
